<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VapeID.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <VapeID.My.MySettings>
            <setting name="AutoVerify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaskANSI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCloseTimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinAgeOfPurchase" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="UseSounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanTimeout" serializeAs="String">
                <value>500</value>
            </setting>
        </VapeID.My.MySettings>
    </userSettings>
</configuration>